nav.navbar {
 padding: 1rem 3rem;
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.navbar__logo {
 width: 6rem;
 height: 6rem;
 overflow: hidden;
 object-fit: cover;
}

.navbar__menu {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 0.8rem;
}
.navbar__item {
 padding: 1rem;
}

.navbar__link {
 border-bottom: 2px solid transparent;
 padding: 0.8rem;
}
.navbar__link:hover,
.navbar__link--active {
 border-bottom: 2px solid var(--color-primary);
}
