header#header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: var(--color-white);
  box-shadow: 0 0 2px 2px rgba(4, 4, 4, 0.4);
}
header#header nav.navbar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
header#header nav.navbar .navbar__brand {
  width: clamp(4rem, 5vw, 10rem);
  height: clamp(4rem, 5vw, 10rem);
  overflow: hidden;
}
header#header nav.navbar .navbar__brand .brand__img {
  object-fit: cover;
}
header#header nav.navbar .navbar__menu .navbar__item {
  flex: 1;
}
header#header nav.navbar .navbar__menu {
  display: flex;
  position: fixed;
  top: 80px;
  right: 0;
  width: 70%;
  height: calc(100vh - 70px);
  background: var(--color-white);
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  pointer-events: none;
  transition: max-height 0.4s ease, opacity 0.3s ease;
  z-index: 9;
}
nav.navbar .navbar__menu-toggle:checked ~ .navbar__menu {
  max-height: 100vh;
  opacity: 1;
  pointer-events: auto;
}
header#header nav.navbar .navbar__menu .navbar__item .navbar__link {
  border-bottom: 2px solid transparent;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.8rem 1.2rem 0;
  transition: border 0.2s ease;
}
header#header nav.navbar .navbar__menu .navbar__item .navbar__link:hover,
header#header nav.navbar .navbar__menu .navbar__item .navbar__link--active {
  border-bottom: 2px solid var(--color-primary);
}
.hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  flex-direction: column;
  cursor: pointer;
}
nav.navbar .navbar__menu-toggle {
  display: none;
}
.line {
  height: 2px;
  width: 20px;
  background: hsla(0, 0%, 0%, 0.7);
}

@media (min-width: 768px) {
  nav.navbar .navbar__menu-toggle,
  .hamburger {
    display: none;
  }
  header#header nav.navbar {
    position: unset;
  }
  header#header nav.navbar .navbar__menu {
    flex-direction: row;
    justify-content: space-around;
    gap: 1.6rem;
    position: unset;
    width: fit-content;
    height: auto;
    padding-top: unset;
    max-height: unset;
    opacity: 1;
    pointer-events: auto;
  }
}
