@import url('./_avatar.css');

.sidebar {
  justify-content: space-between;
  transition: transform 0.3s ease;
  background-color: var(--color-sidebar);
  box-shadow: var(--box-shadow-light);
}

.sidebar__top {
  padding: 2.4rem 0;
  align-items: center;
}

.sidebar__top__nav {
  width: 100%;
  margin-top: 3.2rem;
}

.sidebar__top__nav__menu {
  padding: .8rem;
  gap: .4rem;
}

.sidebar__top__nav__menu__item {
  padding: 1rem;
  border-radius: .6rem;
  cursor: pointer;
}

.sidebar__top__nav__menu__item--active,
.sidebar__top__nav__menu__item:hover {
  background-color: var(--black-300);
  color: var(--white-600);
}


.sidebar__bottom {
  padding-bottom: .8rem;
}

.sidebar__bottom__socialMedia {
  gap: 2.8rem;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.sidebar__bottom__socialMedia__item a .icon {
  font-size: 2rem;
  color: var(--black-600);
}

/*tootip*/
.sidebar__bottom__socialMedia__item a {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.sidebar__bottom__socialMedia__item a .tootip:first-child {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 125%;
  /* acima do ícone */
  background-color: var(--black-300);
  color: var(--white-600);
  padding: 0.4rem 0.6rem;
  border-radius: .4rem;
  white-space: nowrap;
  font-size: 1.2rem;
  opacity: 0;
  pointer-events: none;
  transition: ease-in-out opacity 0.3s;
  z-index: 10;
}

.sidebar__bottom__socialMedia__item a:hover span:first-child {
  opacity: 1;
}


@media(max-width: 768px) {
  .sidebar {
    position: absolute;
    top: 0;
    left: 100%;
    width: 250px;
    height: 100%;
    transition: left 0.3s ease;
    z-index: 1000;
    visibility: hidden;
  }

  .sidebar.open {
    left: 0;
  }

}