#about.about-area {
  display: flex;
  gap: 2rem;
  padding-top: 2rem;
  flex-direction: column;
}
#about.about-area aside.sidebar-about {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 0.8rem;
  border-top: 1px solid var(--color-primary); /* borda no topo para separar */

  position: static; /* remove sticky */
  border-right: none; /* remove a borda lateral */
  border-radius: 0 0 0.8rem 0.8rem;
  max-height: none; /* permite altura automática */
  min-width: 100%; /* ocupa toda largura */
  overflow-y: visible;
  margin-top: 1rem; /* espaçamento do conteúdo */
}
#about aside.sidebar-about button.active {
  background: var(--color-primary);
  color: var(--color-white);
}
#about.about-area div.contents {
  width: 100%;
  flex: 1;
}

#about.about-area div.contents .title-section-active {
  font-size: var(--font-size-xl);
  text-align: center;
}
#about.about-area div.contents .title-section-active h1 {
  display: inline-block;
  font-weight: 600;
  border-bottom: 2px dashed var(--color-primary);
}
#about .contents .section {
  display: none;
}

#about .contents .section.show {
  display: block;
}
#about .contents .section.show.layout-columns {
  display: grid;
  margin-top: 1rem;
}

/**/
section#skills-content .accordion ul.accordion__list li.postit-form {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  transition: transform 0.2s ease;
}
section#skills-content .accordion ul.accordion__list li.postit-form:hover {
  transform: translateY(-5px) rotate(-1deg);
}

section#skills-content
  .accordion
  ul.accordion__list
  li.postit-form
  .tech-icons {
  font-size: 4rem;
}

@media (min-width: 768px) {
  #about.about-area {
    flex-direction: row;
  }
  #about.about-area aside.sidebar-about {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding: 0.8rem;
    border-right: 1px solid var(--color-primary);
    border-radius: 0.8rem;
    min-width: fit-content;

    position: sticky;
    align-self: flex-start;
    top: 10rem;
    max-height: calc(100vh - 4rem);
    overflow-y: auto;
  }
}
