#about .postit-card {
 width: 100px;
 height: 100px;
}

#about .postit-card:nth-child(8) {
 background-color: #ff49bd;
 transform: rotate(0deg);
}

#about .postit-card:nth-child(5),
#about .postit-card:nth-child(0) {
 background-color: #e5ff88;
 transform: rotate(8deg);
}

#about .postit-card:nth-child(9),
#about .postit-card:nth-child(12) {
 background-color: #8ae8ff;
 transform: rotate(5deg);
}

#about .postit-card:nth-child(7),
#about .postit-card:nth-child(10) {
 background-color: #ff9770;
 transform: rotate(6deg);
}
#about .postit-card:nth-child(6),
#about .postit-card:nth-child(11) {
 background-color: #98ff70;
 transform: rotate(-3deg);
}

.social-media {
    display: flex;
    align-items: center;
    gap: .8rem;
    color: var(--color-primary);
    margin-bottom: 1rem;
}
.social-media a:hover{
text-decoration: underline;
text-underline-offset: 4px;
}

.tech-icons {
  font-size: 3.6rem;
  justify-content: center;
}
.tech-icons:hover { transform: scale(1.2); transition: .3s; }
