.info {
 display: flex;
 align-items: center;
 justify-content: flex-end;
 gap: 0.4rem;
 padding: 0.8rem;
 -webkit-user-select: none;
 -ms-user-select: none;
 user-select: none;
}
.info i {
 display: block;
 text-align: center;
}
.clock {
 min-width: 4rem;
 text-align: end;
 font-weight: 600;
 font-size: small;
}
.profile-section {
 padding: 2rem;
}
.intro {
 display: flex;
 flex-direction: column;
}
.intro__title {
 margin-bottom: 1rem;
 max-width: 40rem;
 font-size: clamp(3.2rem, 2.8rem + 1vw, 4rem);
}
.intro__subtitle {
 margin-bottom: 1rem;
 font-size: clamp(1.2rem, 1rem + 0.3vw, 1.4rem);
 font-weight: 500;
 display: block;
 color: var(--color-primary);
}
.intro__description {
 margin-bottom: 1rem;
 font-weight: 400;
 line-height: 1.5;
 max-width: 600px;
 text-align: justify;
}
.intro__actions {
 display: flex;
 flex-wrap: wrap;
 gap: 1.6rem;
 align-items: center;
 justify-items: center;
}
.postits {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 gap: 4rem;
 padding: 2rem;
 max-width: 600px;
 margin: 0 auto;
 position: relative;
}
.postit-card {
 width: 140px;
 height: 140px;
 padding: 1rem;
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
 border-radius: 0.8rem;
 font-size: 1.1rem;
 text-align: center;
 position: relative;

 display: flex;
 align-items: center;
 justify-content: center;

 -webkit-user-select: none; /* Safari */
 -ms-user-select: none; /* IE 10 and IE 11 */
 user-select: none; /* Standard syntax */
}

.postit-card:nth-child(1) {
 background-color: #ff49bd;
 transform: rotate(-4deg);
}

.postit-card:nth-child(2) {
 background-color: #e5ff88;
 transform: rotate(3deg);
 translate: 10px -10px;
}

.postit-card:nth-child(3) {
 background-color: #8ae8ff;
 transform: rotate(-6deg);
}

.postit-card:nth-child(4) {
 background-color: #ff9770;
 transform: rotate(5deg);
 translate: -10px 5px;
}

@media (min-width: 786px) {
 .intro {
  gap: 1.6rem 2.4rem;
 }
}
