#repos {
 margin-top: 2rem;
 display: grid;
 gap: 1.6rem;
 grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
 align-items: start;
 justify-items: center;
}
#repos li.postit-card {
 font-size: 1.4rem;
 border: 1px solid #e5e7eb;
 color: #374151;

 width: 100%;
 max-width: 400px;
 min-height: 20rem;
 padding: 2.4rem;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 transform: rotate(0deg);
 translate: 0px;
}
#repos li.postit-card:hover {
 background: #fff4ec;
}

#repos li.postit-card .postit-card__title {
 font-weight: 600;
 font-size: 1.8rem;
}
#repos li.postit-card #postit-card__bottom {
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 100%;
 font-weight: 500;
}
#repos li.postit-card #postit-card__bottom a {
 padding: 0.4rem 0.8rem;
 border-radius: 0.8rem;
 color: var(--color-primary);
}
#repos li.color-base-postit {
 background-color: #fff;
}

/**/
.projects h2 {
 margin-bottom: 2rem;
}

.projects-grid {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
 gap: 3rem;
 justify-items: center;
}

.project-card {
 position: relative;
 overflow: hidden;
 border-radius: 8px;
 box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
 transition: transform 0.3s ease;
}

.project-card:hover {
 transform: scale(1.03);
}

.project-card img {
 width: 100%;
 display: block;
 border-radius: 8px;
}

.overlay {
 position: absolute;
 bottom: 0;
 width: 100%;
 padding: 1rem;
 background: rgba(0, 0, 0, 0.6);
 color: #fff;
 text-align: left;
 opacity: 0;
 transition: opacity 0.3s ease;
}

.project-card:hover .overlay {
 opacity: 1;
}
