@import url('../components/cards.css');

section:not(:first-child) {
  padding: 8rem 2.4rem;
  text-align: center;
}

section:nth-of-type(even) {
  background: var(--bg-escuro-alt);
}

.title {
  font-size: 3.2rem;
  text-transform: capitalize;
  margin-bottom: 64px;
}

.subtitle {
  margin-bottom: 20px;
   font-size: 1.6rem;
  font-weight: 600;
}